@charset "utf-8";
.Boton1{
	border-radius: 10px;
	box-shadow: 5px 5px 15px 4px #21698B;
	animation: myAnim 1s ease 0s 1 normal forwards;
	width: 400px;
	height: 200px;
	background: url("Imagenes/a135643a361418235c8df04b79740745.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	outline: 1px solid #CED51C;
    transition: outline 0.5s ease 0s;
	position: absolute;
	top: 3%;
	left: 5%;
		display: block;
			margin: auto;
			padding: 10px 20px;
			font-size: 16px;
}
.Boton1:hover{
	outline: 5px solid #EB0909;
}
@keyframes myAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}
a{
	
	border: groove;
	font-size: 60px;
	text-transform: capitalize;
	text-align: justify;
	text-shadow: 8px 4px 12px #21698B ;
	
}
.Boton2{
	border-radius: 10px;
	box-shadow: 5px 5px 15px 4px #21698B;
	animation: myAnim 1s ease 0s 1 normal forwards;
	width: 400px;
	height: 200px;
	background: url("Imagenes/bebidas.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	outline: 1px solid #CED51C;
    transition: outline 0.5s ease 0s;
position: absolute;
	top: 46%;
	left: 5%;
		display: block;
			margin: auto;
			padding: 10px 20px;
			font-size: 16px;
	
}
.Boton2:hover{
	outline: 5px solid #EB0909;
}
.Boton3{
	border-radius: 10px;
	box-shadow: 5px 5px 15px 4px #21698B;
	animation: myAnim 1s ease 0s 1 normal forwards;
	width: 400px;
	height: 200px;
	background: url("Imagenes/postre.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	outline: 1px solid #CED51C;
    transition: outline 0.5s ease 0s;
	position: absolute;
	right: 10%;
	top: 3%;
	display: block;
			margin: auto;
			padding: 10px 20px;
			font-size: 16px;
	
}
.Boton3:hover{
	outline: 5px solid #EB0909;
}
.a1{
	position: absolute;
	right: 24%;
	top: 33%;
	display: block;
	margin: auto; 
}
.Boton4{
		border-radius: 10px;
	box-shadow: 5px 5px 15px 4px #21698B;
	animation: myAnim 1s ease 0s 1 normal forwards;
	width: 400px;
	height: 200px;
	background: url("Imagenes/menu infantil.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	outline: 1px solid #CED51C;
    transition: outline 0.5s ease 0s;
	position: absolute;
	right: 10%;
	top: 46%;
		display: block;
			margin: auto;
			padding: 10px 20px;
			font-size: 16px;
}
.Boton4:hover{
	outline: 5px solid #EB0909;
}
.a2{
	position: absolute;
	right: 13%;
	top: 76%;
	display: block;
	margin: auto; 
}
body{
	
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
}
a{
	color: white;
}
@media only screen and (max-width: 600px) {
			.Boton1 {
				position: fixed;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
@media only screen and (max-width: 600px) {
			.Boton2 {
				position: fixed;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
@media only screen and (max-width: 600px) {
			.Boton3 {
				position: fixed;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
@media only screen and (max-width: 600px) {
			.Boton4 {
				position: fixed;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
.a3{
	position: absolute;
	left: 4%;
	top: 33%;
	display: block;
	margin: auto; 
}
.a4{
	position: absolute;
	left: 4%;
	top: 76%;
	display: block;
	margin: auto; 
}
header{
	position: absolute;
	left: 41%;
}